<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <span class="text-muted"
      >&copy;YelpCamp <span class="text-muted" id="currentYear"></span
    ></span>
  </div>
</footer>
